
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background: black;
    color: #DE207F;
}

a {
    text-decoration: none;
    color: #333
}

ul {
    list-style: none;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}


  
/* Navbar */
#navbar-container {
    border: 1px solid #333;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: #333;
    color: #fff;
}
  
/* Rounded sliders
.slider {
    border-radius: 34px;
}
  
.slider:before {
    border-radius: 50%;
} */

nav .logo {
    font-weight: 300;
}
  
nav .nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    
}
  
nav ul > li {
    cursor: pointer;
}
  
nav ul li > a {
    padding: 10px 0;
    margin: 0 30px;
    color: #fff;
    
}
  
nav a:hover {
    border-bottom: 2px solid #28a745;
}
  



/* Input Container */
#expense-form {
    border-right: 1px solid #333;
    background-color: darkgrey;
    padding: 10px;
}
  
#expense-form input[type=text], input[type=date], input[type=number], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
#expense-form .btn {
    width: 100%;
    color: darkgrey;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.submit-btn {
    background-color: #4CAF50;
    margin: 8px 0;
}

.delete-all {
    background-color: #333;
    text-align: center;
    margin-top: 30px;
}

#expense-form .submit-btn:hover {
    background-color: #28a745;
}

#expense-form .delete-all:hover {
    background-color: red;
}




table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid #f8f8f8;
    font-size: 18px;
}

tr:nth-child(even) {
    background: grey;
}
  
td {
    text-align: center;
    padding: 1rem;
}
  
tr:hover {
    background-color: darkgray;
}




#delete-expense {
    cursor: pointer;
}
  
.done-checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
}
  
.red-trash {
    color: red;
    font-size: 22px;
}
  
.strike {
    text-decoration: line-through;
}
  
/* Footer */
#footer {
    border-top: 2px solid #000;
    grid-column: 1/3;
    display: flex;
    align-items: center;
}
  
#footer p {
    margin: 0 auto;
}

.red-trash  {
    color: red;
    font-size: 22px;
}

.strike {
    text-decoration: line-through;
}
